<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
<!--        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>-->
    </settings>

    <typeAliases>
        <typeAlias type="com.xincao.loginserver.model.Account" alias="Account"/>
        <typeAlias type="com.xincao.loginserver.model.AccountTime" alias="AccountTime"/>
        <typeAlias type="com.xincao.loginserver.model.BannedIP" alias="BannedIP"/>
        <typeAlias type="com.xincao.loginserver.GameServerInfo" alias="GameServerInfo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/xincao/loginserver/model/AccountMapper.xml" />
        <mapper resource="com/xincao/loginserver/model/AccountTimeMapper.xml" />
        <mapper resource="com/xincao/loginserver/model/BannedIPMapper.xml" />
        <mapper resource="com/xincao/loginserver/GameServerInfoMapper.xml" />
    </mappers>

</configuration>